//
//  Secrets.xcconfig
//  olympguide
//
//  Created by Tom Tim on 09.04.2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = http:/5.34.212.145:8080/api/v1
GOOGLE_CLIENT_REVERSED_ID = com.googleusercontent.apps.1041088567052-hss46i4avil0he5jntu9lbuu3gmj4ejm
GOOGLE_CLIENT_ID = 1041088567052-hss46i4avil0he5jntu9lbuu3gmj4ejm.apps.googleusercontent.com


